<form
    id="patient-inquiry"
    action="https://formspree.io/f/xyyrlwlb"
    method="POST"
    >
  <label for="patient-name">Patient Name*</label>
  <input type="text" name="patient-name" id="patient-name" required>

  <label for="parent-name"> Parent/guardian Name (if applicable)</label>
  <input type="text" name="parent-name" id="parent-name">

  <label for="patient-birthday">Patient Date of Birth*</label>
  <input type="date" name="patient-birthday" id="patient-birthday" min="1900-01-01" required>

  <label for="patient-gender">Patient Gender*</label>
  <input type="text" name="patient-gender" id="patient-gender" required>

  <label for="email">Email*</label>
  <input type="email" name="email" id="email" required>

  <label for="phone">Phone Number*</label>
  <input type="tel" name="phone" id="phone" pattern="(?:\([0-9]{3}\)|[0-9]{3}-?)\s?[0-9]{3}[\- ]?[0-9]{4}" title="Please enter a phone number in the format XXX-XXX-XXXX" required>

  <label for="state">State of Residence*</label>
  <select name="state" id="state" required>
    <option value="" disabled selected></option>
    <option value="md">Maryland</option>
    <option value="ny">New York</option>
  </select>

  <label for="patient-school">Patient School and Grade (if applicable)</label>
  <input type="text" name="patient-school" id="patient-school">

  <label for="referral">Referral Source</label>
  <input type="text" name="referral" id="referral">

  <label for="reason">Reason for Appointment*</label>
  <textarea name="reason" rows="4" id="reason" required></textarea>
  <button type="submit">Submit</button>
</form>
