<form id="patient-inquiry">
  <div id="location">
    <span>Dr. Yang treats patients located in New York and Maryland via telepsychiatry, with in-person availability for patients residing in Maryland.</span>
    <div class="checkbox">
      <input type="checkbox" id="checkbox_location">
      <label for="checkbox_location">I understand</label>
    </div>
  </div>
  <div id="insurance" class="hidden">
    <span>Dr. Yang does not participate in insurance plans but can provide a superbill for any out-of-network benefits. Please email <a href="mailto:md@jessicayangmd.com">md@jessicayangmd.com</a> directly for current rates and practice policies.</span>
    <div class="checkbox">
      <input type="checkbox" id="checkbox_insurance">
      <label for="checkbox_insurance">I understand</label>
    </div>
  </div>
  <a href="https://calendly.com/jessicayangmd/15-minute-inquiry-call" id="button_calendly" class="hidden">
    <button type="button">Schedule 15 Minute Inquiry Call</button>
  </a>
</form>
<script>
  const form = document.getElementById('patient-inquiry');

  const section_location = document.getElementById('location');
  const checkbox_location = document.getElementById('checkbox_location');

  const section_insurance = document.getElementById('insurance');
  const checkbox_insurance = document.getElementById('checkbox_insurance');

  const button_schedule = document.getElementById('button_calendly');

  function updateVisibility() {
    // If location checkbox is checked, show insurance checkbox
    if (checkbox_location.checked) {
      section_insurance.classList.remove('hidden');
    } else {
      section_insurance.classList.add('hidden');
    }

    // If insurance checkbox is checked, show schedule button
    if (checkbox_location.checked && checkbox_insurance.checked) {
      button_schedule.classList.remove('hidden');
    } else {
      button_schedule.classList.add('hidden');
    }
  }

  // Check conditions on page load
  window.addEventListener('load', updateVisibility);

  // Check conditions when navigating back
  window.addEventListener('pageshow', updateVisibility);

  checkbox_location.addEventListener('change', updateVisibility);
  checkbox_insurance.addEventListener('change', updateVisibility);
</script>
